body{ 
  height: 100%;  
  background: url(../../img/coming-match.png) center no-repeat;
  background-size: 1920px 600px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: white;
  font-size: 18px;
}
h4{
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  line-height: 18px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.App-header{
margin-top: 80px;
display: flex;
align-items: center;
justify-content: center;

}
.SectionCenter{
  margin: auto 24px;
  background-color: #1B232C;
  width: 780px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.SectionLeft,
.SectionRight{
  background-color: #1B232C;
  width: 378px;
  height: 292px;
}
.SubsectionLeft{
margin: 32px 16px;
align-items: center;
text-align: center;
}
.SubsectionCenter{
  margin: 32px;
  align-items: center;
  text-align: center;
  }
  .SubTwo{
    display: flex;
    height: 106px;
    margin-bottom: 30px;
  }
  .Club{
    margin: 0 auto;
  }
  .Emblem{
    width: 80px;
    height: 80px;
  }
  .Ural{
    background: url(../../img/ural.png)no-repeat;
  }
  .Sochi{
    background: url(../../img/sochi.png)no-repeat;
  }
  .CSKA{
    background: url(../../img/cska.png) no-repeat;
  }
  .Dinamo{
    background: url(../../img/dinamo.png) no-repeat 0% 100%;
  }
  .Spartak{
    background: url(../../img/spartak.png) no-repeat;
  }
  .Lokomotiv{
    background: url(../../img/lokomotiv.png) no-repeat 0% 100%;
  }
  .Score{
    height: 66px;
    width: 96px;
    margin-top: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
    background-color: white;
  }
  .ScoreNone{
    background-color: transparent;
  }
  .Score h4{
    font-weight: 900;
  line-height: 50px;
  color: #CC122D;
  font-size: 40px;
  }
  .ScoreNone h4{
    color: #5C6168;
  }
  .SubThree{
    height: 50px;
    display: flex;
    justify-content:space-between;
    
  }
  .Date{
    text-align: start;
  }
  .Date h4{
    font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  margin:0;
  padding: 0;
  }
  button{
    width: 57px;
    border-color: white;
  }
  .btn{
    background: url(../../img/ArrowRight.svg) no-repeat center;
  }
.Date p{
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  color: #A5ACBB;
  margin:0;
  padding: 0;
}

.btnRight{
  background: url(../../img/Ticket.svg) no-repeat center #CC122D;
  border-color: transparent;
}

.SubsectionDown{
  height: 52px;
  background: linear-gradient( #9D9E9F, #C4C7C9, #A0A2A4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SubsectionDown h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #2C2C2C;
}
.dot {
  height: 36px;
  width: 36px;
  background-color: #27AF11;
  border-radius: 50%;
  display: inline-block;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.figure{
  border: 7px solid transparent;
border-left: 10px solid rgb(255, 255, 255);
display: block;
width: 0;
height: 0;
margin-left: 25%;
}
.SubsectionUp{
  margin: 32px 24px;
  height: 328px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.Club-Center{
  width: 220px;
  height: 152px;
  align-items: center;
  text-align: center;

}
.EmblemC{
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.Club-Center h4{
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
  margin:0;
  padding: 0;
}
.Time{
display: flex;
align-items: center;
margin: 0 auto;
  width: 244px;
  height: 66px;
  background-color:  #CC122D4D;
}
.Time h4{
  margin: 0 auto;
  font-weight: 700;
  line-height: 30px;
  font-size: 40px;
}
.SubTwoC{
  display: flex;
align-items: center;

}
.SubThreeCenter{
  display: flex;
  justify-content: space-between;
}
.PointCenter{
  width: 218px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
 .SectionCenter p:nth-child(1){
  margin: 0;
  padding: 0;
}
.PointCenter p{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}
.ImgTicket{
  background: url(../../img/Ticket.svg)  no-repeat center;
  width: 40px;
  height: 20px;
}
.TicketCenter{
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center; 
  border-color: transparent;
  background-color: #CC122D;
 
}
.TicketCenter h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.Circle{
  width: 55px;
  height: 23px;
  border-radius: 15px;
  border:  solid 4px white;
  background-color: #394552;
}
.Green{
  background-color: #27af11;
}
.PointCenter div p:nth-child(2) {
  color: #A5ACB8;
  }
  @media only screen and (max-width: 1441px) {
 
    .App{
      background-attachment:fixed;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .App-header{
      width: 1620px;
      margin-top: 80px;
      }
  }
  @media only screen and (max-width: 376px) {
    body{
      background: url()no-repeat;
    }
    .App{
      height: 100vh;
      background:url(../../img/banner2.jpg) 50% 0% #000 no-repeat fixed;
    }
    .App-header{
      padding-top: 80px;
      margin: auto 16px;
      width:860px; 
      }
    .SectionCenter{
      margin: 0 16px;
      background-color: #1B232C;
     width: 343px;  
      height: 316px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    p{
      line-height: 18px;
      font-size: 14px;
    }
    h4{
      line-height: 14px;
      font-size: 12px;
    }
    .Time{
        width: 115px;
        height: 32px;
      }
      .Time h4{
        font-size: 24px;
      }
      .Club-Center{
        width: 94px;
        height: 82px;
      
      }
      .EmblemC{
        width: 64px;
        height: 64px;
      }
      .Club-Center h4{
        font-weight: 500;
        line-height: 14px;
        font-size: 12px;
      }
      .Ural{
        background: url(../../img/ural.png) center no-repeat;
        background-size: 50px 50px;
      }
      .Sochi{
        background: url(../../img/sochi.png) center no-repeat;
        background-size: 50px 50px;
      }
      .CSKA{
        background: url(../../img/cska.png) no-repeat;
        background-size: 50px 50px;
      }
      .Dinamo{
        background: url(../../img/dinamo.png) no-repeat 0% 100%;
        background-size: 50px 50px;
      }
      .Spartak{
        background: url(../../img/spartak.png) no-repeat;
        background-size: 64px 64px;
      }
      .Lokomotiv{
        background: url(../../img/lokomotiv.png) 50% no-repeat 0% 0%;
        background-size: 53px 53px;
      }
      .Date h4{
      line-height: 22px;
      font-size: 16px;
      }

    .Date p{
      font-weight: 400;
      line-height: 18px;
      font-size: 14px;
    }
    .TicketCenter{
      width: 115px;
      height: 40px;   
    }
    .TicketCenter h4{
      font-size: 14px;
    }
  button span,
  .PointCenter{
    display: none;
  }
    .SubsectionDown{
      height: 40px;
    }
    .SubsectionDown h4{
      font-size: 16px;
    }
    .dot {
      height: 24px;
      width: 24px;
    }
    .figure{
      border: 5px solid transparent;
    border-left: 7px solid rgb(255, 255, 255);
    margin-left: 30%;
    }
 .SectionLeft,
 .SectionRight{
    width: 230px; 
  height: 210px; 
    }
    .SubsectionLeft{
    margin: 24px 12px;
    }
    .Score{
      height: 36px;
      width: 60px;
      margin-top: 10px;
    }
    .Score h4{
      font-weight: 700;
    line-height: 32px;
    font-size: 24px;
    
    }
    .Emblem{
      width: 50px;
      height: 50px;
    }
    .SubTwo{
      display: flex;
       margin-bottom: 0px; 
    }
    button{
      width: 36px;
      height: 36px;
    }
  }